[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = smart gRPC proxy to simplify microservice development
[access "refs/*"]
	owner = group user/Ernest Micklei (emicklei)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ernest Micklei (emicklei)
	label-Verified = -1..+1 group user/Ernest Micklei (emicklei)
	push = group user/Ernest Micklei (emicklei)
	read = group user/Ernest Micklei (emicklei)
	rebase = group user/Ernest Micklei (emicklei)
	removeReviewer = group user/Ernest Micklei (emicklei)
	submit = group user/Ernest Micklei (emicklei)
[access "refs/heads/*"]
	create = group user/Ernest Micklei (emicklei)
	push = +force group user/Ernest Micklei (emicklei)
	pushMerge = group user/Ernest Micklei (emicklei)
	read = group user/Ernest Micklei (emicklei)
[access "refs/tags/*"]
	push = group user/Ernest Micklei (emicklei)
	push = +force group user/Ernest Micklei (emicklei)
